terraform.tfstate
terraform.tfstate.backup
.terraform/modules/modules.json
tws-terra-key
.terraform/providers/registry.terraform.io/hashicorp/aws/5.80.0/windows_amd64/terraform-provider-aws_v5.80.0_x5.exe
